/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;700&family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation:wght@700&family=Open+Sans:ital,wght@1,300;1,400&family=PT+Sans&family=Roboto+Condensed:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
.nave-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:start;
    gap: 10px;
}
.nave-logos >img{
    width: 86.041px;
   height: 40px;
}
.nave-logos h4{
    text-align: center;
 font-family: Work Sans;
 font-size: 45px;
 font-weight: 700;
 color: #F948B2;

}
.amar1{
    color: #0B0223;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nave-con ul{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nave-con ul li a{
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
    padding: 20px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    display: flex;
}
nav ul li{
    display: flex;
}
.nav-end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 262px;
    height: 56px;
    text-align: center;

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.nav-end h4{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.frist{
    display: flex;
    justify-content: flex-start !important;
}
.nav-end >a i{
   color: #F61C0D;
   font-size: 24px;
   
}
.titok{
    color: #000000 #F00044;
}







/* main */


.main-section{
    display: flex;
    justify-content: space-between;
   
}

.color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.black{
    color: #0B0223 !;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.text-container >h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.text-container >h1{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-container >P{
    color: #534C64;
text-align: ;
font-family: Work Sans;
font-size: 20px;

font-weight: 500;
text-transform: lowercase;
}
.text-container{
    background: url(images/Group\ 14.png);
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 700px;
    /* fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
     */
}
.image-container{
    width: 700px;
    height: 700px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    
}




.btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color:#FFFFFF;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Work Sans;
  }
  .btn2{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color:#FFFFFF;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Work Sans;}


.button-container {
    margin-top: 10px;
  }
/* onlin geme */
.onlinh5{
    color: #0B0223;
text-align:center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
margin-bottom: 10px;



}
.funy{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.onlinp{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
padding: 0 50px 0;
}



  .onlin-flex{

    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-bottom: 40px;
  }


/* SECTION PLAY */



.section-play{
    display: flex;
    justify-content: space-between;

}
.play-text >h3{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    

}
.play{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.black{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;



}
.play-text >p{
    width: 353px;
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;




}
.play-img{
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
    
    
}
.img-min{
    width: 318.5px;
    height: 365.083px;
    color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    bottom: 260px;
    right: 180px;
    border: 10px solid #FFF;
    background: url(images/Rectangle\ 66.png), lightgray 0px -0.304px / 100% 117.229% no-repeat;

}

/* footer */
footer{
    background: #0B0223;
    margin-top: 130px;
    padding: 100px;
   
    
}
.nave-logo{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 20px;
}
.nave-logo >img{
    width: 86.041px;
   height: 40px;
   flex-shrink: 0;
}
.nave-logo >h4{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    color: #FF42A5;
}
.amar{
    color: #FFFFFF;
}
.foot-li{
    display: flex;
    justify-content: center;}



 .foot-li ul li {
    list-style: none;
 }   
.foot-li ul li >a{
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.foot-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    
}
.foot-icon i{
    font-size: 40px;
}
.foot-icon ul li{
    list-style: none;
}
.foot-icon ul li a {
    width: 40px;
     height: 60px;
}
.foot-end{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.foot-end ul li{
    list-style: none;
}
.foot-end ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.foot-endp{
    text-align: center;
    color: #FFFFFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 50px;

}








